.short-stack-regular {
    font-family: "Short Stack", cursive;
    font-weight: 400;
    font-style: normal;
  }

.short-stack-bold {
    font-family: "Short Stack", cursive;
    font-weight: 800;
    font-style: normal;
  }
