.hugeicons--physics {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='%23000'%3E%3Cpath d='M12 5.793a28 28 0 0 1 3.342 2.865A28 28 0 0 1 18.207 12M12 5.793a28 28 0 0 0-3.342 2.865A28 28 0 0 0 5.793 12M12 5.793c3.57-2.584 6.947-3.554 8.354-2.147S20.791 8.43 18.207 12m0 0c2.584 3.57 3.554 6.947 2.147 8.354c-1.043 1.043-3.17.78-5.654-.48M18.207 12a28 28 0 0 1-2.865 3.342A28 28 0 0 1 12 18.207m0 0a28 28 0 0 1-3.342-2.865A28 28 0 0 1 5.793 12M12 18.207c-3.57 2.584-6.947 3.554-8.354 2.147S3.209 15.57 5.793 12m0 0C3.21 8.43 2.24 5.053 3.646 3.646c1.043-1.043 3.17-.78 5.654.48'/%3E%3Ccircle cx='12' cy='12' r='2'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.streamline--ecology-science-dna-biology-experiment-lab-science {
    display: inline-block;
    width: 14px;
    height: 14px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'%3E%3Cpath d='M10.1 3.9a4.65 4.65 0 0 0 3.4.1M4 13.5a4.68 4.68 0 0 0-.1-3.41a4.74 4.74 0 0 1 1-5.16a4.8 4.8 0 0 1 2.46-1.3'/%3E%3Cpath d='M6.6 10.37a4.8 4.8 0 0 0 2.47-1.31a4.73 4.73 0 0 0 1-5.16A4.65 4.65 0 0 1 10 .5M.5 10a4.6 4.6 0 0 1 3.4.11m1.04-5.18l4.13 4.13'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.carbon--chemistry {
    display: inline-block;
    width: 32px;
    height: 32px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M27.231 23.618L20 13.675V4h2V2H10v2h2v9.675l-7.231 9.943A4.018 4.018 0 0 0 8.019 30H23.98a4.018 4.018 0 0 0 3.25-6.382M14 14.325V4h4v10.325L20.673 18h-9.346ZM23.981 28H8.02a2.02 2.02 0 0 1-1.633-3.206L9.873 20h12.254l3.487 4.794A2.02 2.02 0 0 1 23.981 28'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.material-symbols--globe {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12q0-.175-.012-.363t-.013-.312q-.125.725-.675 1.2T18 13h-2q-.825 0-1.412-.587T14 11v-1h-4V8q0-.825.588-1.412T12 6h1q0-.575.313-1.012t.762-.713q-.5-.125-1.012-.2T12 4Q8.65 4 6.325 6.325T4 12h5q1.65 0 2.825 1.175T13 16v1h-3v2.75q.5.125.988.188T12 20'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.streamline--decent-work-and-economic-growth {
    display: inline-block;
    width: 14px;
    height: 14px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'%3E%3Cpath d='m9.008 6.709l3.43-1.516v7.672h-3.43zM4.72 4.814l2.144 3.032l2.144-1.137v6.154H4.72z'/%3E%3Cpath d='m1.29 6.33l3.43-1.516v8.05H1.29zm12-5.193L7.851 4.613l-2.5-2.923L.878 3.988'/%3E%3Cpath d='m10.586.678l2.703.45l-.45 2.704'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .hugeicons--ai-scan {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%237e7e7e' fill-rule='evenodd' d='M15.75 21.495c0 .41.34.75.75.75l-.01.01c.98 0 1.47 0 1.93-.09a4.73 4.73 0 0 0 3.73-3.73c.09-.46.09-.95.09-1.93c0-.41-.34-.75-.75-.75s-.75.34-.75.75c0 .88 0 1.32-.06 1.63a3.24 3.24 0 0 1-2.55 2.55c-.31.06-.75.06-1.63.06c-.41 0-.75.34-.75.75m-8.25.75l-.01-.01c.41 0 .75-.34.75-.75s-.34-.75-.75-.75c-.87 0-1.32 0-1.63-.06a3.24 3.24 0 0 1-2.55-2.55c-.06-.31-.06-.75-.06-1.63c0-.41-.34-.75-.75-.75s-.75.34-.75.75c0 .98 0 1.47.09 1.93a4.74 4.74 0 0 0 3.73 3.73c.46.09.95.09 1.93.09m13.25-14.75c0 .41.34.75.75.75l.01.01c.41 0 .75-.34.75-.75c0-.98 0-1.47-.09-1.93a4.74 4.74 0 0 0-3.73-3.73c-.46-.09-.95-.09-1.93-.09c-.41 0-.75.34-.75.75s.34.75.75.75c.87 0 1.32 0 1.63.06c1.29.25 2.29 1.26 2.55 2.55c.06.31.06.75.06 1.63m-19 0c0 .41.34.75.75.75l.01-.01c.41 0 .75-.34.75-.75c0-.88 0-1.32.06-1.63a3.24 3.24 0 0 1 2.55-2.55c.31-.06.75-.06 1.63-.06c.41 0 .75-.34.75-.75s-.34-.75-.75-.75c-.98 0-1.47 0-1.93.09a4.73 4.73 0 0 0-3.73 3.73c-.09.46-.09.95-.09 1.93m9.25 9.75h2c2.02 0 3.14 0 3.94-.81c.81-.8.81-1.92.81-3.94s-.01-3.13-.81-3.94s-1.92-.81-3.94-.81h-.25v-1.25c0-.41-.34-.75-.75-.75s-.75.34-.75.75v1.25H11c-2.02 0-3.14 0-3.94.81c-.81.8-.81 1.92-.81 3.94s.01 3.13.81 3.94s1.92.81 3.94.81m-2.88-7.63c.35-.36 1.13-.37 2.88-.37h2c1.74 0 2.53.02 2.88.37c.36.35.37 1.14.37 2.88s-.02 2.53-.37 2.88c-.35.36-1.13.37-2.88.37h-2c-1.74 0-2.53-.02-2.88-.37c-.36-.35-.37-1.14-.37-2.88s.02-2.53.37-2.88m5.13 2.38c0 .41.34.75.75.75s.75-.34.75-.75v-.5c0-.41-.34-.75-.75-.75s-.75.34-.75.75zm-4 0c0 .41.34.75.75.75s.75-.34.75-.75v-.5c0-.41-.34-.75-.75-.75s-.75.34-.75.75z' color='%237e7e7e'/%3E%3C/svg%3E");
  }

  .lucide--circuit-board {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%237e7e7e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Crect width='18' height='18' x='3' y='3' rx='2'/%3E%3Cpath d='M11 9h4a2 2 0 0 0 2-2V3'/%3E%3Ccircle cx='9' cy='9' r='2'/%3E%3Cpath d='M7 21v-4a2 2 0 0 1 2-2h4'/%3E%3Ccircle cx='15' cy='15' r='2'/%3E%3C/g%3E%3C/svg%3E");
  }

  .mdi--robot {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%237e7e7e' d='M12 2a2 2 0 0 1 2 2c0 .74-.4 1.39-1 1.73V7h1a7 7 0 0 1 7 7h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v1a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-1H2a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1a7 7 0 0 1 7-7h1V5.73c-.6-.34-1-.99-1-1.73a2 2 0 0 1 2-2M7.5 13A2.5 2.5 0 0 0 5 15.5A2.5 2.5 0 0 0 7.5 18a2.5 2.5 0 0 0 2.5-2.5A2.5 2.5 0 0 0 7.5 13m9 0a2.5 2.5 0 0 0-2.5 2.5a2.5 2.5 0 0 0 2.5 2.5a2.5 2.5 0 0 0 2.5-2.5a2.5 2.5 0 0 0-2.5-2.5'/%3E%3C/svg%3E");
  }

  .ix--robotic-arm {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%237e7e7e' d='m283.016 48.38l-139.713 83.54a59.9 59.9 0 0 0-17.585-2.632C91.632 129.288 64 157.904 64 193.204c0 14.546 4.692 27.957 12.594 38.699a64 64 0 0 1-2.918-4.325l75.413 135.295l-.137.557a88.3 88.3 0 0 0-2.439 20.679l.013 42.607l-41.158.004v42.611h257.299v-42.667l-51.559.052l-.012-42.607c0-34.106-19.346-63.533-47.294-77.153l-4.438-1.999l-60.217-108.02l105.111-62.851l45.841 82.325c-1.918 7.072-1.495 14.819 1.621 21.884l1.363 2.739c2.069 3.709 4.747 6.828 7.828 9.296l.028 43.648l-.037.164l39.743 11.029l5.325-20.58l-24.457-6.802l.002-20.818c4.685-.265 9.382-1.644 13.723-4.24c4.593-2.746 8.247-6.531 10.844-10.903l18.013 10.779l-6.488 25.161l19.872 5.514L448 242.357l-.046-.005l.034-.067l-37.749-22.591a32.7 32.7 0 0 0-3.706-10.619c-4.794-8.599-12.864-14.018-21.635-15.542l-47.13-84.511c8.451-13.07 9.561-30.503 1.454-45.045c-11.362-20.38-36.526-27.364-56.206-15.597m-54.211 293.118c21.691 0 39.462 17.383 41.032 39.431l.113 3.18v42.611h-82.291v-42.611c0-22.464 16.785-40.867 38.075-42.494zm-58.397-104.21l2.278-2.616l37.087 66.506l.785-.188c-12.526 2.936-23.968 8.832-33.605 16.939l-3.588 3.2l-36.294-65.087l-.561.105c13.232-2.417 25.01-9.199 33.898-18.859m-44.69-65.389c11.362 0 20.573 9.539 20.573 21.305s-9.211 21.306-20.573 21.306s-20.572-9.539-20.572-21.306c0-11.766 9.21-21.305 20.572-21.305m175.35-96.784c5.681 0 10.286 4.77 10.286 10.653s-4.605 10.653-10.286 10.653s-10.286-4.77-10.286-10.653s4.605-10.653 10.286-10.653'/%3E%3C/svg%3E");
  }

  .mdi--web {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%237e7e7e' d='M16.36 14c.08-.66.14-1.32.14-2s-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2m-5.15 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95a8.03 8.03 0 0 1-4.33 3.56M14.34 14H9.66c-.1-.66-.16-1.32-.16-2s.06-1.35.16-2h4.68c.09.65.16 1.32.16 2s-.07 1.34-.16 2M12 19.96c-.83-1.2-1.5-2.53-1.91-3.96h3.82c-.41 1.43-1.08 2.76-1.91 3.96M8 8H5.08A7.92 7.92 0 0 1 9.4 4.44C8.8 5.55 8.35 6.75 8 8m-2.92 8H8c.35 1.25.8 2.45 1.4 3.56A8 8 0 0 1 5.08 16m-.82-2C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2s.06 1.34.14 2M12 4.03c.83 1.2 1.5 2.54 1.91 3.97h-3.82c.41-1.43 1.08-2.77 1.91-3.97M18.92 8h-2.95a15.7 15.7 0 0 0-1.38-3.56c1.84.63 3.37 1.9 4.33 3.56M12 2C6.47 2 2 6.5 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2'/%3E%3C/svg%3E");
  }

  .hugeicons--python {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%237e7e7e' fill-rule='evenodd' d='M12 22.072c-1.51 0-2.34 0-3.03-.47c-.29-.19-.56-.46-.76-.77c-.46-.67-.46-1.5-.46-3.01v-1.25H6.5c-1.51 0-2.34 0-3.03-.47c-.29-.19-.56-.46-.76-.77c-.46-.67-.46-1.5-.46-3.01s0-2.34.47-3.03c.19-.29.46-.56.77-.76c.67-.46 1.5-.46 3.01-.46h1.25v-1.25c0-1.51 0-2.34.47-3.03c.19-.29.46-.56.77-.76c.67-.46 1.5-.46 3.01-.46s2.34 0 3.03.47c.29.19.56.46.76.77c.46.67.46 1.5.46 3.01v1.25h1.25c1.51 0 2.34 0 3.03.47c.29.19.56.46.76.77c.46.67.46 1.5.46 3.01s0 2.34-.47 3.03c-.19.29-.46.56-.77.76c-.67.46-1.5.46-3.01.46h-1.25v1.25c0 1.51 0 2.34-.47 3.03c-.19.29-.46.56-.77.76c-.67.46-1.5.46-3.01.46m-5.5-12.5c-1.17 0-1.88 0-2.19.21c-.15.09-.26.21-.34.33c-.22.33-.22 1.03-.22 2.21s0 1.88.21 2.19c.09.15.21.26.33.34c.33.22 1.03.22 2.21.22h1.25v-2.75c0-.41.34-.75.75-.75h6.25v-4.75c0-1.17 0-1.88-.21-2.19c-.09-.15-.21-.26-.33-.34c-.33-.22-.99-.22-2.21-.22s-1.88 0-2.19.21c-.15.09-.26.21-.34.33c-.22.33-.22 1.03-.22 2.21v1.25H12c.41 0 .75.34.75.75s-.34.75-.75.75zm9.75 0v2.75c0 .41-.34.75-.75.75H9.25v4.75c0 1.17 0 1.88.21 2.19c.09.15.21.26.33.34c.33.22 1.03.22 2.21.22s1.88 0 2.19-.21c.15-.09.26-.21.34-.33c.22-.33.22-1.03.22-2.21v-1.25H12c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h5.5c1.17 0 1.88 0 2.19-.21c.15-.09.26-.21.34-.33c.22-.33.22-1.03.22-2.21s0-1.88-.21-2.19c-.09-.15-.21-.26-.33-.34c-.33-.22-1.03-.22-2.21-.22zm-6-3.74c0 .41.34.75.75.75v.01c.41 0 .75-.34.75-.76a.749.749 0 1 0-1.5 0m2 12.99c0 .41.34.75.75.75v.01c.41 0 .75-.34.75-.76a.749.749 0 1 0-1.5 0' color='%237e7e7e'/%3E%3C/svg%3E");
  }